<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.izejs.simple.mapper.BrandTypeMapper">

    <resultMap id="brandTypes" type="com.izejs.simple.vo.BrandTypeVO">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="brandId" jdbcType="INTEGER" property="brandId" />
        <result column="brandName" jdbcType="VARCHAR" property="brandName" />
        <collection property="brandTypes" ofType="com.izejs.simple.entity.BrandType" javaType="java.util.List">
            <result column="typeName" jdbcType="VARCHAR" property="typeName" />
            <result column="typeIns" jdbcType="VARCHAR" property="typeIns" />
            <result column="imgPath" jdbcType="VARCHAR" property="imgPath" />
        </collection>
    </resultMap>

    <select id="selectBrandTypes" resultMap="brandTypes">
        select
            id,
            brand_id brandId,
            brand_name brandName,
            type_name typeName,
            type_ins typeIns,
            img_path imgPath
        from brand_type
    </select>
</mapper>
